# MongoDB Queries
This report uses `pymongo` package to connect to MongoDB client, and performs simple data analysis on available collections.  
There are four collections saved in our database (**sm_analytics**):
1. users
2. posts
3. comments
4. likes

If you you haven't, install the ff libraries in your working env:

In [1]:
!pip install pymongoarrow
!pip install "pymongo[srv]"
!pip install pandas numpy pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongoarrow
  Downloading pymongoarrow-0.7.0-cp310-cp310-manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 4.1 MB/s eta 0:00:00
Collecting pyarrow<11.1,>=11.0 (from pymongoarrow)
  Downloading pyarrow-11.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.9/34.9 MB 21.9 MB/s eta 0:00:00
Collecting pymongo<5,>=3.11 (from pymongoarrow)
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 37.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow<11.1,>=11.0->pymongoarrow) (1.22.4)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo<5,>=3.11->pymongoarrow)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 27.4 MB/s eta 0:00:00
Installing collected packages: pyarrow, dnspython, pymongo, pymongoarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 9.0.0
    Uninstalling pyarrow-9.0.0:
      Successfully uninstalled pyarrow-9.0.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-gbq 0.17.9 requires pyarrow<10.0dev,>=3.0.0, but you have pyarrow 11.0.0 which is incompatible.
Successfully installed dnspython-2.3.0 pyarrow-11.0.0 pymongo-4.3.3 pymongoarrow-0.7.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (11.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## 1. Import Libraries

In [2]:
# import libraries
import pymongoarrow
import pymongo
import pyarrow
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime
from pymongoarrow.monkey import patch_all

##2. Establish connection with MongoDB database
**Step 1.** Have a MongoDB project ready, and make sure to add your IP addrress  
**Step 2.** Connect to your MongoDB database in Atlas UI, and select the Python driver  
**Step 3.** Copy the connection string provided, make  sure to edit the `<password>`

In [5]:
# make  sure to edit the <password>
connection_string = "mongodb+srv://admin:BojYsM26b8SIcici@cluster0.mqvch2s.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(connection_string)

## 3. Read collection files

In [3]:
pymongoarrow.monkey.patch_all()

### 3.1 Create database reference

In [6]:
db = client.sm_analytics

### 3.2. There are 4 collections in the database

In [13]:
print(db.list_collection_names())

['posts', 'likes', 'comments', 'users']

## 4. Check data structure of all collections

In [18]:
print('-- Users collection--')
print(db.users.find_pandas_all({}).info())
print('\n')
print('-- Posts collection--')
print(db.posts.find_pandas_all({}).info())
print('\n')
print('-- Comments collection--')
db.comments.find_pandas_all({}).info()
print('\n')
print('-- Likes collection--')
db.likes.find_pandas_all({}).info()

-- Users collection--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          81 non-null     object
 1   name         75 non-null     object
 2   age          81 non-null     int32
 3   bio          52 non-null     object
 4   nationality  71 non-null     object
 5   user_id      81 non-null     int32
dtypes: int32(2), object(4)
memory usage: 3.3+ KB
None


-- Posts collection--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      40 non-null     object
 1   user_id  40 non-null     int32
 2   caption  40 non-null     object
 3   post_id  40 non-null     int32
dtypes: int32(2), object(2)
memory usage: 1.1+ KB
None


-- Comments collection--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      67 non-null     object
 1   user_id  67 non-null     int32
 2   post_id  67 non-null     int32
 3   comment  67 non-null     object
 4   time     67 non-null     object
dtypes: int32(2), object(3)
memory usage: 2.2+ KB


-- Likes collection--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      269 non-null    object
 1   user_id  269 non-null    int32
 2   post_id  269 non-null    int32
 3   time     269 non-null    object
dtypes: int32(2), object(2)
memory usage: 6.4+ KB

In [ ]:
db.users.find_one({})

{'_id': ObjectId('647ff0a24daaa659278382be'),
 'name': 'John Smith',
 'age': 25,
 'bio': 'Loves exploring new cuisines and trying out new recipes.',
 'nationality': 'US',
 'user_id': 100}

## 5. Data Cleaning

Below cell is optional, note that I have already processed this step before, so running below can throw an error  
- Originally, `user_id` is named as `id` on the users collection
- And `post_id` was originally named as `id` on the posts collection

In [ ]:
# # Under users collection, rename `id` as `user_id`
# db.users.update_many( {}, { "$rename": { "id": "user_id" } } )

# # Under posts collection, rename `id` as `post_id` 
# db.posts.update_many( {}, { "$rename": { "id": "post_id" } } )

### 5.1. Count missing values from the *users* collection

In [24]:
results = db.users.aggregate([
  {
    "$group": {
      "_id": np.nan,
      "useridNullCount": { "$sum": { "$cond": [{ "$eq": ["$user_id", np.nan ] }, 1, 0] } },
      "nameNullCount": { "$sum": { "$cond": [{ "$eq": ["$name", np.nan ] }, 1, 0] } },
      "ageNullCount": { "$sum": { "$cond": [{ "$eq": ["$age", np.nan ] }, 1, 0] } },
      "bioNullCount": { "$sum": { "$cond": [{ "$eq": ["$bio", np.nan ] }, 1, 0] } },
      "nationalityNullCount": { "$sum": { "$cond": [{ "$eq": ["$nationality", np.nan ] }, 1, 0] } }
    }
  }
])
print('Count of null values in each field of User collection')
for result in results:
  pprint(result)

Count of null values in each field of User collection
{'_id': nan,
 'ageNullCount': 0,
 'bioNullCount': 29,
 'nameNullCount': 6,
 'nationalityNullCount': 10,
 'useridNullCount': 0}

There are null values found on the *users* collection, missing names, missing bio, and missing nationality  
Only TEXT objects have missing values:
- The `bio` field has 29 nulls, highest, since this is user provided, we can leave it as is
- The `nationality` field has 10 nulls, this is also user provided, we can leave it as is
- The `names` field has 6 nulls, in this analysis we will not use this field, so we can disregard it

### 5.2. Count missing values from the *posts* collection

In [33]:
results = db.posts.aggregate([
  {
    "$group": {
      "_id": np.nan,
      "userIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$user_id", np.nan ] }, 1, 0] } },
      "postIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$post_id", np.nan ] }, 1, 0] } },
      "captionNullCount": { "$sum": { "$cond": [{ "$eq": ["$caption", np.nan ] }, 1, 0] } },
    }
  }
])
print('Count of null values in each field of User collection')
for result in results:
  pprint(result)

Count of null values in each field of User collection
{'_id': nan, 'captionNullCount': 0, 'postIdNullCount': 0, 'userIdNullCount': 0}

### 5.3. Count missing values from the *comments* collection

In [32]:
results = db.comments.aggregate([
  {
    "$group": {
      "_id": np.nan,
      "userIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$user_id", np.nan ] }, 1, 0] } },
      "postIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$post_id", np.nan ] }, 1, 0] } },
      "commentNullCount": { "$sum": { "$cond": [{ "$eq": ["$comment", np.nan ] }, 1, 0] } },
      "timeNullCount": { "$sum": { "$cond": [{ "$eq": ["$time", np.nan ] }, 1, 0] } },
    }
  }
])
print('Count of null values in each field of User collection')
for result in results:
  pprint(result)

Count of null values in each field of User collection
{'_id': nan,
 'commentNullCount': 0,
 'postIdNullCount': 0,
 'timeNullCount': 0,
 'userIdNullCount': 0}

### 5.4. Count missing values from the *likes* collection

In [31]:
results = db.likes.aggregate([
  {
    "$group": {
      "_id": np.nan,
      "userIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$user_id", np.nan ] }, 1, 0] } },
      "postIdNullCount": { "$sum": { "$cond": [{ "$eq": ["$post_id", np.nan ] }, 1, 0] } },
      "timeNullCount": { "$sum": { "$cond": [{ "$eq": ["$time", np.nan ] }, 1, 0] } },
    }
  }
])
print('Count of null values in each field of User collection')
for result in results:
  pprint(result)

Count of null values in each field of User collection
{'_id': nan, 'postIdNullCount': 0, 'timeNullCount': 0, 'userIdNullCount': 0}

## 6. EDA

### [Users Collection]
Age Statistics of Users:  
- Youngest: 25
- Oldest: 34
- Common Age: 27-30  
- Majority of the users are Millenials

In [ ]:
# Age statistics
age_stats = db.users.aggregate([
  {
    "$group": {
      "_id": np.nan,
      "meanValue": { "$avg": "$age" },
      # "modeValue": { "$top": "$age" },
      "minValue": { "$min": "$age" },
      "maxValue": { "$max": "$age" }
    }
  }
])

for age_stat in age_stats:
  pprint.pprint(age_stat)

{'_id': nan, 'maxValue': 34, 'meanValue': 29.22222222222222, 'minValue': 25}

In [ ]:
age_stats = db.users.aggregate([
  {
    "$group": {
      "_id": "$age",
      "count": { "$sum": 1 }
    }
  },
  {
      "$sort" : {"count": -1}
  }
])

for age in age_stats:
  pprint.pprint(age)

{'_id': 28, 'count': 14}
{'_id': 30, 'count': 14}
{'_id': 29, 'count': 13}
{'_id': 27, 'count': 13}
{'_id': 32, 'count': 12}
{'_id': 31, 'count': 5}
{'_id': 26, 'count': 5}
{'_id': 33, 'count': 3}
{'_id': 25, 'count': 1}
{'_id': 34, 'count': 1}

Nationality Stats of Users:
- Koreans are the highest users at 35
- US nationals follows at 8
- There are 10 users who did not specify their nationality

In [ ]:
# nationality count
nationality_stats = db.users.aggregate([
  {
    "$group": {
      "_id": "$nationality",
      "count": { "$sum": 1 }
    }
  },
  {
      "$sort" : {"count": -1}
  }
])

for nationality in nationality_stats:
  pprint.pprint(nationality)

{'_id': 'KR', 'count': 35}
{'_id': nan, 'count': 10}
{'_id': 'US', 'count': 8}
{'_id': 'GB', 'count': 6}
{'_id': 'AU', 'count': 6}
{'_id': 'CA', 'count': 5}
{'_id': 'IT', 'count': 2}
{'_id': 'FR', 'count': 2}
{'_id': 'MX', 'count': 2}
{'_id': 'CN', 'count': 1}
{'_id': 'DE', 'count': 1}
{'_id': 'ES', 'count': 1}
{'_id': 'JP', 'count': 1}
{'_id': 'SE', 'count': 1}

### [Posts Collection]

There are a total of 40 posts created

In [16]:
for result in db.posts.aggregate([{"$count" : 'number_of_posts'}]):
  print(result)

{'number_of_posts': 40}

A total of 5 users created 5 posts each, they are users 101, 102, 103, 104, and 105

In [8]:
# Which user has a high post count?
pipeline = [
    {
        '$group': {
            '_id': '$user_id',
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'count': -1}
    }
]

result = list(db.posts.aggregate(pipeline))

for document in result:
    print(document)

{'_id': 103, 'count': 5}
{'_id': 105, 'count': 5}
{'_id': 102, 'count': 5}
{'_id': 101, 'count': 5}
{'_id': 104, 'count': 5}
{'_id': 120, 'count': 1}
{'_id': 116, 'count': 1}
{'_id': 114, 'count': 1}
{'_id': 111, 'count': 1}
{'_id': 112, 'count': 1}
{'_id': 108, 'count': 1}
{'_id': 110, 'count': 1}
{'_id': 106, 'count': 1}
{'_id': 107, 'count': 1}
{'_id': 119, 'count': 1}
{'_id': 118, 'count': 1}
{'_id': 109, 'count': 1}
{'_id': 117, 'count': 1}
{'_id': 113, 'count': 1}
{'_id': 115, 'count': 1}

### [Comments Collection]

There are a total of 67 comments made

In [17]:
for result in db.comments.aggregate([{"$count" : 'number_of_comments'}]):
  print(result)

{'number_of_comments': 67}

Each day, there are 18 comments submitted with the exception of the last date

In [ ]:
# counts of comments per day
pipeline = [
    {
        '$group': {
            '_id': {
                'day': {'$dateToString': {'format': "%Y-%m-%d", 'date': {'$toDate': "$time"}}}
            },
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'_id.day': 1}
    }
]

result = list(db.comments.aggregate(pipeline))

for document in result:
    print(document)

{'_id': {'day': '2023-05-02'}, 'count': 18}
{'_id': {'day': '2023-05-03'}, 'count': 18}
{'_id': {'day': '2023-05-04'}, 'count': 18}
{'_id': {'day': '2023-05-05'}, 'count': 13}

For every 8 hours, there are at least 6 comments made

In [ ]:
# comments every 8 hours
pipeline = [
    {
        '$group': {
            '_id': {
                'interval': {
                    '$dateFromParts': {
                        'year': {'$year': {'$toDate': "$time"}},
                        'month': {'$month': {'$toDate': "$time"}},
                        'day': {'$dayOfMonth': {'$toDate': "$time"}},
                        'hour': {'$subtract': [{'$hour': {'$toDate': "$time"}}, {'$mod': [{'$hour': {'$toDate': "$time"}}, 8]}]} 
                    }
                }
            },
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'_id.interval': 1}
    }
]

result = list(db.comments.aggregate(pipeline))

for document in result:
    print(document)

{'_id': {'interval': datetime.datetime(2023, 5, 2, 0, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 2, 8, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 2, 16, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 3, 0, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 3, 8, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 3, 16, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 4, 0, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 4, 8, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 4, 16, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 5, 0, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 5, 8, 0)}, 'count': 6}
{'_id': {'interval': datetime.datetime(2023, 5, 5, 16, 0)}, 'count': 1}

The post_id = 20, has the highest comment count with 26 total comments

In [7]:
# Which post has the highest comment count?
pipeline = [
    {
        '$group': {
            '_id': '$post_id',
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'count': -1}
    }
]

result = list(db.comments.aggregate(pipeline))

for document in result:
    print(document)

{'_id': 20, 'count': 26}
{'_id': 8, 'count': 3}
{'_id': 1, 'count': 3}
{'_id': 4, 'count': 3}
{'_id': 11, 'count': 2}
{'_id': 7, 'count': 2}
{'_id': 9, 'count': 2}
{'_id': 16, 'count': 2}
{'_id': 13, 'count': 2}
{'_id': 14, 'count': 2}
{'_id': 15, 'count': 2}
{'_id': 3, 'count': 2}
{'_id': 18, 'count': 2}
{'_id': 2, 'count': 2}
{'_id': 6, 'count': 2}
{'_id': 5, 'count': 2}
{'_id': 19, 'count': 2}
{'_id': 12, 'count': 2}
{'_id': 10, 'count': 2}
{'_id': 17, 'count': 2}

### [Likes Collection]

It seems that no post is leading based on number of likes, all posts have equal 'likes' count (6), except for post_id = 45

In [ ]:
# Which post has the highest like count? 
'''
Result shows all post has 6 likes except post_id = 45
'''
pipeline = [
    {
        '$group': {
            '_id': '$post_id',
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'count': -1}
    }
]

result = list(db.likes.aggregate(pipeline))

for document in result:
    print(document)

{'_id': 42, 'count': 6}
{'_id': 23, 'count': 6}
{'_id': 37, 'count': 6}
{'_id': 17, 'count': 6}
{'_id': 26, 'count': 6}
{'_id': 10, 'count': 6}
{'_id': 43, 'count': 6}
{'_id': 24, 'count': 6}
{'_id': 2, 'count': 6}
{'_id': 19, 'count': 6}
{'_id': 3, 'count': 6}
{'_id': 15, 'count': 6}
{'_id': 34, 'count': 6}
{'_id': 7, 'count': 6}
{'_id': 9, 'count': 6}
{'_id': 1, 'count': 6}
{'_id': 4, 'count': 6}
{'_id': 27, 'count': 6}
{'_id': 8, 'count': 6}
{'_id': 32, 'count': 6}
{'_id': 38, 'count': 6}
{'_id': 41, 'count': 6}
{'_id': 11, 'count': 6}
{'_id': 28, 'count': 6}
{'_id': 44, 'count': 6}
{'_id': 30, 'count': 6}
{'_id': 12, 'count': 6}
{'_id': 21, 'count': 6}
{'_id': 36, 'count': 6}
{'_id': 6, 'count': 6}
{'_id': 31, 'count': 6}
{'_id': 5, 'count': 6}
{'_id': 20, 'count': 6}
{'_id': 22, 'count': 6}
{'_id': 40, 'count': 6}
{'_id': 13, 'count': 6}
{'_id': 29, 'count': 6}
{'_id': 35, 'count': 6}
{'_id': 14, 'count': 6}
{'_id': 18, 'count': 6}
{'_id': 39, 'count': 6}
{'_id': 33, 'count': 6}
{'_id': 25, 'count': 6}
{'_id': 16, 'count': 6}
{'_id': 45, 'count': 5}

At least 10 users have given 19 likes

In [ ]:
# Which user gave the most likes? 
'''
Result shows 10 users are active and gave at least 15 likes for the posts they
have seen
'''
pipeline = [
    {
        '$group': {
            '_id': '$user_id',
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'count': -1}
    },
    {
        '$limit': 10
    }
]

result = list(db.likes.aggregate(pipeline))

for document in result:
    print(document)

{'_id': 106, 'count': 20}
{'_id': 109, 'count': 20}
{'_id': 108, 'count': 20}
{'_id': 101, 'count': 20}
{'_id': 102, 'count': 20}
{'_id': 107, 'count': 20}
{'_id': 105, 'count': 20}
{'_id': 103, 'count': 20}
{'_id': 100, 'count': 19}
{'_id': 104, 'count': 19}